<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>エロ動画１ちゃんねる</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
      <%- include('header') %>
      <main>
        <div id="wapper">
          <div id="side">
            <div class="sideBlockHead">
              <div class="topBanner">
                <div class="otonano">
                  <iframe src="https://widget.cybershop-affiliate.jp/widget.php?shopid=wanchan1&wid=e031e800e53f317ac7e08db2c1886d8d6a67eb82" scrolling="no" frameborder="0" width="100%" height="296">大人のおもちゃ通販/品番指定</iframe>
                </div>
              </div>
            </div>
            <!-- <div class="side-bar">
              <p>人気のコンテンツ</p>
              <lu>
                <li>commeingsoon</li>
                <li>commeingsoon</li>
                <li>commeingsoon</li>
                <li>commeingsoon</li>
                <li>commeingsoon</li>
                <li>commeingsoon</li>
              </lu>
            </div> -->
            <div class="otonano2">
              <iframe src="https://widget.cybershop-affiliate.jp/widget.php?shopid=wanchan1&wid=d5389b800a75aafbdd5186d2244aa72d96d26d13" scrolling="no" frameborder="0" width="100%" height="795">大人のおもちゃ通販/販売ランキング</iframe>
            </div>
          </div>

          <div id="content">
            <div class="head">
              <h2>新着のおすすめ動画</h2>
            </div>
            <div class="botton-table">
              <div class="botton-set">
                <span class="nextbotton">1</span>
                <a href="page2" class="nextbotton">2</a>
                <a href="page3" class="nextbotton">3</a>
                <a href="page4" class="nextbotton">4</a>
                …
                <a href="page2" class="nextbotton">Next</a>
              </div>
            </div>
            <div class="banar">
              <a href="https://www.ppc-direct.com/index35.html?affid=218193" target="_blank" rel="noopener"><img src="https://affiliate.dtiserv.com/ppc/ppc3-030612/36/9362036.jpg" border="0" title="バナー"></a>
              <iframe src="https://www.ppc-direct.com/index2.html?affid=218193" width="300" height="250" frameborder="no" scrolling="no" title="バナー"></iframe>
            </div>
            <div class="mozi">
              <iframe src="https://www.ppc-direct.com/index14.html?affid=218193"  width="450" height="30" frameborder="no" scrolling="no" title="テキストバナー"></iframe>
            </div>
            <div class="dekame">
              <iframe src="https://www.ppc-direct.com/index8.html?affid=218193" width="700" height="200" frameborder="no" scrolling="no" title="バナー"></iframe>
            </div>
            <div class="movie">
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                   <% let gg = contents.length %>
                   <% if(gg >= 1) { %>
                   <div class="m-1 mb-2 item goodSiteItem">
                     <div class="itemHead">
                       <div class="itemTitle">
                          <a href= <%= contents[0]["pages"] %>>
                            <span class="iconGoodSite">優良サイト</span>
                            <%= contents[0]["name"] %>
                          </a>
                        </div>
                      </div>
                      <div class="itemBody">
                        <a href= <%= contents[0]["pages"] %>>
                          <img src= <%= contents[0]["img"] %> width="200"height="150"   class="img-fluid" loading="lazy">
                        </a>
                        <div id="body-right">
                          <div class="itemInfo">
                            <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                            <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                          </div>
                          <div class="itemTag">
                            <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                            <a href="/nakadashi" title="中だし のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                            <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                            <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                            <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                          </div>
                          <div class="itemFoot">
                          </div>
                        </div>
                      </div>
                    </div>
                    <% }else{ %>
                    <p></p>
                    <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href= <%= contents[1]["pages"] %> >
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[1]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href= /con1?ver=1>
                         <img src= <%= contents[1]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[2]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[2]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[2]["pages"] %>>
                        <img src= <%= contents[2]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[3]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[3]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[3]["pages"] %>>
                         <img src= <%= contents[3]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[4]["pages"] %> >
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[4]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[4]["pages"] %>>
                        <img src= <%= contents[4]["img"] %> width="200"height="150"   class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[5]["pages"] %> >
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[5]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[5]["pages"] %>>
                         <img src= <%= contents[5]["img"] %> width="200"height="150"   class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[6]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[6]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[6]["pages"] %>>
                        <img src= <%= contents[6]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[7]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[7]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[7]["pages"] %>>
                         <img src= <%= contents[7]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[8]["pages"] %> >
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[8]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[8]["pages"] %>>
                        <img src= <%= contents[8]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[9]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[9]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[9]["pages"] %>>
                         <img src= <%= contents[9]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[10]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[10]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[10]["pages"] %>>
                        <img src= <%= contents[10]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[11]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[11]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[11]["pages"] %>>
                         <img src= <%= contents[11]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[12]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[12]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[12]["pages"] %>>
                        <img src= <%= contents[12]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[13]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[13]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[13]["pages"] %>>
                         <img src= <%= contents[13]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[14]["pages"] %> >
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[14]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[14]["pages"] %>>
                        <img src= <%= contents[14]["img"] %> width="200"height="150"   class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[15]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[15]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[15]["pages"] %>>
                         <img src= <%= contents[15]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[16]["pages"] %> >
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[16]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[16]["pages"] %>>
                        <img src= <%= contents[16]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[17]["pages"] %> >
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[17]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[17]["pages"] %>>
                         <img src= <%= contents[17]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[18]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[18]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[18]["pages"] %>>
                        <img src= <%= contents[18]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[19]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[19]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[19]["pages"] %>>
                         <img src= <%= contents[19]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="/nakadashi" title="イメージビデオ のエロ動画を見る">中出し</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="botton-table">
              <div class="botton-set">
                <span class="nextbotton">1</span>
                <a href="page2" class="nextbotton">2</a>
                <a href="page3" class="nextbotton">3</a>
                <a href="page4" class="nextbotton">4</a>
                …
                <a href="page2" class="nextbotton">Next</a>
              </div>
            </div>
            <div class="shita">

            </div>
          </div>
        </div>
      </main>
  <script type="text/javascript" src="script.js"></script>
  </body>
</html>
