<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>エロ動画１ちゃんねる</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
      <%- include('header') %>
      <main>
        <div id="wapper">
          <div id="side">
            <%- include('sidead') %>
          </div>

          <div id="content">
            <%- include('topad') %>
            <div class="head">
              <h2>新着のおすすめ動画</h2>
            </div>
            <div class="botton-table">

              <div class="botton-set">
                <a href="page6" class="nextbotton">6</a>
                <span class="nextbotton">7</span>
                <a href="page8" class="nextbotton">8</a>
                <a href="page9" class="nextbotton">9</a>
                <a href="page10" class="nextbotton">10</a>
                …
                <a href="page7" class="nextbotton">Next</a>
              </div>
              <%
              a=130
              b=131
              c=132
              d=133
              e=134
              f=135
              g=136
              h=137
              i=138
              j=139
              k=140
              l=141
              m=142
              n=143
              o=144
              p=145
              q=146
              r=147
              s=148
              t=149
              %>
            </div>
            <%- include('midad') %>
            <% let aa = contents.length %>
            <% console.log(aa) %>
            <div class="movie">
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(a <= aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href= <%= contents[a]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[a]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href= <%= contents[a]["pages"] %> >
                        <img src= <%= contents[a]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(b < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href= <%= contents[b]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[b]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href= <%= contents[b]["pages"] %>>
                         <img src= <%= contents[b]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(c < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[c]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[c]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[c]["pages"] %>>
                        <img src= <%= contents[c]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(d < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[d]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[d]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[d]["pages"] %>>
                         <img src= <%= contents[d]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(e < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[e]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[e]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[e]["pages"] %>>
                        <img src= <%= contents[e]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(f < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[f]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[f]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[f]["pages"] %>>
                         <img src= <%= contents[f]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(g < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[g]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[g]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[g]["pages"] %>>
                        <img src= <%= contents[g]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(h < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[h]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[h]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[h]["pages"] %>>
                         <img src= <%= contents[h]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(i < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[i]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[i]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[i]["pages"] %>>
                        <img src= <%= contents[i]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(j < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[j]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[j]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[j]["pages"] %>>
                         <img src= <%= contents[j]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(k < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[k]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[k]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[k]["pages"] %>>
                        <img src= <%= contents[k]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(l < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[l]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[l]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[l]["pages"] %>>
                         <img src= <%= contents[l]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(m < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[m]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[m]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[m]["pages"] %>>
                        <img src= <%= contents[m]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(n < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[n]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[n]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[n]["pages"] %>>
                         <img src= <%= contents[n]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(o < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[o]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[o]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[o]["pages"] %>>
                        <img src= <%= contents[o]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(p < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[p]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[p]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[p]["pages"] %>>
                         <img src= <%= contents[p]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(q < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[q]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[q]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[q]["pages"] %>>
                        <img src= <%= contents[q]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(r < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[r]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[r]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[r]["pages"] %>>
                         <img src= <%= contents[r]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <% if(s < aa) { %>
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[s]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[s]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[s]["pages"] %>>
                        <img src= <%= contents[s]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                        </div>
                        <div class="itemTag">
                          <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                          <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp;
                          <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                          <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                          <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                        </div>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <% if(t < aa) { %>
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[t]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[t]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[t]["pages"] %>>
                         <img src= <%= contents[t]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <div class="itemTag">
                           <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
                           <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp;
                           <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
                           <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
                           <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
                         </div>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                  <% }else{ %>
                  <p></p>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="botton-table">
              <div class="botton-set">
                <a href="page6" class="nextbotton">6</a>
                <span class="nextbotton">7</span>
                <a href="page8" class="nextbotton">8</a>
                <a href="page9" class="nextbotton">9</a>
                <a href="page10" class="nextbotton">10</a>
                …
                <a href="page7" class="nextbotton">Next</a>
              </div>
            </div>
          </div>
        </div>
      </main>
  <script type="text/javascript" src="script.js"></script>
  </body>
</html>
