<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>エロ動画１ちゃんねる</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
      <header>
        <%- include('header') %>
      <main>
        <div id="wapper">
          <div id="side">
            <%- include('sidead') %>
          </div>

          <div id="content">
            <%- include('topad') %>
            <div class="head">
              <h2>新着のおすすめ動画</h2>
            </div>
            <div class="botton-table">
              <div class="botton-set">
                <a href="page3" class="nextbotton">3</a>
                <a href="page4" class="nextbotton">4</a>
                <span class="nextbotton">5</span>
                <a href="page6" class="nextbotton">6</a>
                <a href="page7" class="nextbotton">7</a>
                …
                <a href="page6" class="nextbotton">Next</a>
              </div>
            </div>
            <%- include('midlead') %>
            <%- include('midad') %>
            <div class="movie">
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[80]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[80]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[80]["pages"] %>>
                        <img src= <%= contents[80]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[81]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[81]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[81]["pages"] %>>
                         <img src= <%= contents[81]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[82]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[82]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[82]["pages"] %>>
                        <img src= <%= contents[82]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[83]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[83]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[83]["pages"] %>>
                         <img src= <%= contents[83]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[84]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[84]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[84]["pages"] %>>
                        <img src= <%= contents[84]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[85]["pages"] %> >
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[85]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[85]["pages"] %>>
                         <img src= <%= contents[85]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[86]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[86]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[86]["pages"] %>>
                        <img src= <%= contents[86]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[87]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[87]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[87]["pages"] %>>
                         <img src= <%= contents[87]["img"] %> width="200"height="150"   class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[88]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[88]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[88]["pages"] %>>
                        <img src= <%= contents[88]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[89]["pages"] %> >
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[89]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[89]["pages"] %>>
                         <img src= <%= contents[89]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[90]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[90]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[90]["pages"] %>>
                        <img src= <%= contents[90]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[91]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[91]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[91]["pages"] %>>
                         <img src= <%= contents[91]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[92]["pages"] %> >
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[92]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[92]["pages"] %>>
                        <img src= <%= contents[92]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[93]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[93]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[93]["pages"] %>>
                         <img src= <%= contents[93]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[94]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[94]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[94]["pages"] %>>
                        <img src= <%= contents[94]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[95]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[95]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[95]["pages"] %>>
                         <img src= <%= contents[95]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[96]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[96]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[96]["pages"] %>>
                        <img src= <%= contents[96]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[97]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[97]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[97]["pages"] %>>
                         <img src= <%= contents[97]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
               <div class="itemWrapper col-sm-6" id="con-left">
                 <div class="m-1 mb-2 item goodSiteItem">
                   <div class="itemHead">
                     <div class="itemTitle">
                        <a href=<%= contents[98]["pages"] %>>
                          <span class="iconGoodSite">優良サイト</span>
                          <%= contents[98]["name"] %>
                        </a>
                      </div>
                    </div>
                    <div class="itemBody">
                      <a href=<%= contents[98]["pages"] %>>
                        <img src= <%= contents[98]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                      </a>
                      <div id="body-right">
                        <div class="itemInfo">
                          <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                          <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>

                        </div>
                        <%- include('itemTag') %>
                        <div class="itemFoot">
                           <div class="itemTime">6分前</div>
                           <div class="itemSiteName">熟女の果実</div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="itemWrapper col-sm-6" id="con-right">
                  <div class="m-1 mb-2 item goodSiteItem">
                    <div class="itemHead">
                      <div class="itemTitle">
                         <a href=<%= contents[99]["pages"] %>>
                           <span class="iconGoodSite">優良サイト</span>
                           <%= contents[99]["name"] %>
                         </a>
                       </div>
                     </div>
                     <div class="itemBody">
                       <a href=<%= contents[99]["pages"] %>>
                         <img src= <%= contents[99]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
                       </a>
                       <div id="body-right">
                         <div class="itemInfo">
                           <span class="proName" style="background-color:#cd3e2c;">1channel</span>
                           <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
                         </div>
                         <%- include('itemTag') %>
                         <div class="itemFoot">
                            <div class="itemTime">6分前</div>
                            <div class="itemSiteName">熟女の果実</div>
                         </div>
                       </div>
                     </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="botton-table">
              <div class="botton-set">
                <a href="page3" class="nextbotton">3</a>
                <a href="page4" class="nextbotton">4</a>
                <span class="nextbotton">5</span>
                <a href="page6" class="nextbotton">6</a>
                <a href="page7" class="nextbotton">7</a>
                …
                <a href="page6" class="nextbotton">Next</a>
              </div>
            </div>
          </div>
        </div>
      </main>
  <script type="text/javascript" src="script.js"></script>
  </body>
</html>
