<div class="relativecontents">
  <% var a = Math.floor( Math.random() * 90 ); %>
  <% var b = Math.floor( Math.random() * 90 ); %>
  <% var c = Math.floor( Math.random() * 90 ); %>
  <% var d = Math.floor( Math.random() * 90 ); %>
  <% var e = Math.floor( Math.random() * 90 ); %>
  <% var f = Math.floor( Math.random() * 90 ); %>
  <h2>関連動画</h2>
</div>
<div class="table">
  <div class="row no-gutters">
   <div class="itemWrapper col-sm-6" id="con-left">
     <div class="m-1 mb-2 item goodSiteItem">
       <div class="itemHead">
         <div class="itemTitle">
            <a href=<%= contents[a]["pages"] %>>
              <span class="iconGoodSite">優良サイト</span>
              <%= contents[a]["name"] %>
            </a>
          </div>
        </div>
        <div class="itemBody">
          <a href=<%= contents[a]["pages"] %>>
            <img src=<%= contents[a]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
          </a>
          <div id="body-right">
            <div class="itemInfo">
              <span class="proName" style="background-color:#cd3e2c;">1channel</span>
              <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
            </div>
            <div class="itemTag">
              <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
              <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
              <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
              <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
              <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
            </div>
            <div class="itemFoot">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="itemWrapper col-sm-6" id="con-right">
      <div class="m-1 mb-2 item goodSiteItem">
        <div class="itemHead">
          <div class="itemTitle">
             <a href=<%= contents[b]["pages"] %>>
               <span class="iconGoodSite">優良サイト</span>
               <%= contents[b]["name"] %>
             </a>
           </div>
         </div>
         <div class="itemBody">
           <a href=<%= contents[b]["pages"] %>>
             <img src=<%= contents[b]["img"] %> width="200"height="150" class="img-fluid" loading="lazy">
           </a>
           <div id="body-right">
             <div class="itemInfo">
               <span class="proName" style="background-color:#cd3e2c;">1channel</span>
               <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
             </div>
             <div class="itemTag">
               <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
               <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
               <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
               <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
               <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
             </div>
             <div class="itemFoot">
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
   <div class="itemWrapper col-sm-6" id="con-left">
     <div class="m-1 mb-2 item goodSiteItem">
       <div class="itemHead">
         <div class="itemTitle">
            <a href=<%= contents[c]["pages"] %>>
              <span class="iconGoodSite">優良サイト</span>
              <%= contents[c]["name"] %>
            </a>
          </div>
        </div>
        <div class="itemBody">
          <a href=<%= contents[c]["pages"] %>>
            <img src=<%= contents[c]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
          </a>
          <div id="body-right">
            <div class="itemInfo">
              <span class="proName" style="background-color:#cd3e2c;">1channel</span>
              <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
            </div>
            <div class="itemTag">
              <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
              <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
              <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
              <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
              <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
            </div>
            <div class="itemFoot">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="itemWrapper col-sm-6" id="con-right">
      <div class="m-1 mb-2 item goodSiteItem">
        <div class="itemHead">
          <div class="itemTitle">
             <a href=<%= contents[d]["pages"] %>>
               <span class="iconGoodSite">優良サイト</span>
               <%= contents[d]["name"] %>
             </a>
           </div>
         </div>
         <div class="itemBody">
           <a href=<%= contents[d]["pages"] %>>
             <img src=<%= contents[d]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
           </a>
           <div id="body-right">
             <div class="itemInfo">
               <span class="proName" style="background-color:#cd3e2c;">1channel</span>
               <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
             </div>
             <div class="itemTag">
               <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
               <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
               <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
               <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
               <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
             </div>
             <div class="itemFoot">
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
   <div class="itemWrapper col-sm-6" id="con-left">
     <div class="m-1 mb-2 item goodSiteItem">
       <div class="itemHead">
         <div class="itemTitle">
            <a href=<%= contents[e]["pages"] %>>
              <span class="iconGoodSite">優良サイト</span>
              <%= contents[e]["name"] %>
            </a>
          </div>
        </div>
        <div class="itemBody">
          <a href=<%= contents[e]["pages"] %>>
            <img src=<%= contents[e]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
          </a>
          <div id="body-right">
            <div class="itemInfo">
              <span class="proName" style="background-color:#cd3e2c;">1channel</span>
              <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
            </div>
            <div class="itemTag">
              <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
              <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
              <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
              <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
              <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
            </div>
            <div class="itemFoot">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="itemWrapper col-sm-6" id="con-right">
      <div class="m-1 mb-2 item goodSiteItem">
        <div class="itemHead">
          <div class="itemTitle">
             <a href=<%= contents[f]["pages"] %>>
               <span class="iconGoodSite">優良サイト</span>
               <%= contents[f]["name"] %>
             </a>
           </div>
         </div>
         <div class="itemBody">
           <a href=<%= contents[f]["pages"] %>>
             <img src=<%= contents[f]["img"] %> width="200"height="150"  class="img-fluid" loading="lazy">
           </a>
           <div id="body-right">
             <div class="itemInfo">
               <span class="proName" style="background-color:#cd3e2c;">1channel</span>
               <span class="movieCnt" style="color:#cd3e2c;">リンク1件</span>
             </div>
             <div class="itemTag">
               <a href= "/index"  title="エロ動画 のエロ動画を見る">エロ動画</a>&nbsp;|&nbsp;
               <!-- <a href="" title="イメージビデオ のエロ動画を見る">イメージビデオ</a>&nbsp;|&nbsp; -->
               <a href="/oppai" title="おっぱい のエロ動画を見る">おっぱい</a>&nbsp;|&nbsp;
               <a href="/paizuri" title="パイズリ のエロ動画を見る">パイズリ</a>&nbsp;|&nbsp;
               <a href="/kyonyu" title="巨乳 のエロ動画を見る">巨乳</a>
             </div>
             <div class="itemFoot">
             </div>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
